body{
    margin: 0;
    width: 100vw;
}

#mainGrid{
    display: grid;
    min-height: 100vh;

    grid-template-rows: 20vh auto 30vh;
    grid-template-columns: 100vw ;
}

header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
}

header h1{
    margin: 0;
    font-size: 5vmin;
}


.main{ 
    background-color: yellow;
    flex-wrap: wrap;
    align-items: center;


}
footer{
    text-align: center;
    height: fit-content;
    
}

.prjTbl{
    display: block;
    width: fit-content;
    max-width: 100%;
    margin: auto;
    max-height: 20vh;
    overflow-y: scroll;
    font-size: 3vmin;
}

.prjTbl td, .prjTbl th {padding: 8px; }

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5vw;
    height: 10vh;
}

#header-paragraph{
    margin: 0;
    font-size: 4vmin;
}

.siteSymbol{
    max-height: 8vh;
    max-width: 40%;
}

#switchButton {
    margin: 0;
    font-size: 2.5vmin;
    max-width: 30vw;
}