body{
    margin: 0;
    overflow-x: hidden;
}


a , a:link ,a:visited ,a:active{
    text-decoration: none;
}

.backgroundVideo{
    width: 100%;
}

#mainGrid{
    display: grid;
    min-height: 100vh;
    grid-template-rows: 15vh auto 5vh;
    grid-template-columns: 100vw ;
}

article, form{
    margin: auto;
    width: 95%;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label::before {
    content: '\A'; 
    white-space: pre; 
    display: block;
}



header{
    z-index: 100;
    position: sticky;
    top: 0px ;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
}

header h1{
    margin: 0;
    font-size: 5vmin;
}


.main{ 
    flex-wrap: wrap;
    align-items: center;
    text-align:center ;
}

footer{
    text-align: center;
    height: fit-content;
}
footer a{ 
    font-size: 3vh;
}

.trailerCont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
    margin: auto;
    width: 95%;
    height: 80vw;
    max-height: 80vh;
}

.trailer{
    width: 30vw;
    height: 20vw;
}


.headCont{
    display: grid;
    width: 100vw;
    grid-template-rows: auto ;
    grid-template-columns: 33.33% 33.33% 33.33% ;
    align-items: center;
    justify-items: center
}


#header-paragraph{
    margin: 0;
    font-size: 4vmin;
}

.siteSymbol{
    max-height: 8vh;
    max-width: 40%;
}

#switchButton {
    margin: 0;
    font-size: 2vmin;
    max-width: 30vw;
}


.movieCont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 95%;
    max-height: 80vh;
    overflow-y: auto;
    row-gap: 1vh;
}

.movieCard{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    height: 30vh;


}

.movieCard img{
    max-height: 80%;
    width: auto;
}

.movieCard article{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10%;

}